/**
* configuration variables
* palette color: https://colorhunt.co/palette/130836
**/

/* --- ?General ---*/
$demoColor = true // random color to elements ("developer mod")
$gpm = 10px // General paddings for mobile
$gpd = 12px // General paddings for desk


/* --- ?Wrapper ---*/
$pmw = 10px // General paddings for mobile wrapper (laterals)
$pdw = 36px // General paddings for desk wrapper (laterals)