/**
* configuration variables
**/

/* --- ?General --- */
$gpm = 10px // General paddings for mobile
$gpd = 12px // General paddings for desk


/* --- Test Colors --- */
/**
* palette color: https://colorhunt.co/palette/130836
*/
$testColor = true // random color to elements ("developer mod")
$green = #b8ffd0


/* --- ?Wrapper --- */
$pmw = 0px // General paddings for mobile wrapper (laterals)
$pdw = 0px // General paddings for desk wrapper (laterals)
$fullScrHeight = false // Full screen height for wrapper