/**
* configuration variables
**/

/* --- ?General --- */
$gpm = 10px // General paddings for mobile
$gpd = 12px // General paddings for desk


/* --- Test Colors --- */
/**
* palette colors in: https://colorhunt.co
*/
$testColor = true // random color to elements ("developer mod")
$yellow = #FFD000
$magenta = #FF326C
$green = #92D050
$blue = #2EC4DB
$cyan = #2DE1C2
$red = #B24550
$purple = #4F518C
$orange = #E78E31


/* --- ?Wrapper --- */
$pmw = 0px // General paddings for mobile wrapper (laterals)
$pdw = 0px // General paddings for desk wrapper (laterals)
$fullScrHeight = false // Full screen height for wrapper



/* --- ?Header --- */
$headerStatic = true // If you want a dinamic header put in false
$headerHeight = 64px

/* --- ?Container --- */
/**
* Why 0.1px?
* visually does not affect the design and prevents the
* margin collapsing.
*/
$pctm = 10px // Padding container top in mobile
$pcbm = 10px // Padding container bottom in mobile
$pclm = 10px // Padding container left in mobile
$pcrm = 10px // Padding container right in mobile

$pctd = 0.1px // Padding container top in desk
$pcbd = 0.1px // Padding container bottom in desk
$pcld = 44px // Padding container left in desk
$pcrd = 44px // Padding container right in desk
