@import '../main/conf'
@import '../dependencies/normalize'
@import '../components/wrappers-containers.styl'
@import '../components/headers-menus.styl'

.wrapper
  wrapper($pmw, $pdw)

.container
  container(false, false)

.header
  header-static()