// @import 'nib'
@import '../main/conf'
@import '../dependencies/normalize'
@import '../components/wrappers-containers.styl'
@import '../components/headers-menus.styl'

.wrapper
  wrapper($pmw, $pdw)

.container
  container(false, false)

.header
  header-static()

.menu-button
  menu-container-left()

.menu-button__variant
  $icon = false // for stablish icon: '../example.png'
  menu-image($icon)

.menu-tags
  menu-tags()

.menu-on
  menu-displacement()