@import 'nib'
//@import 'normalize.styl'
/*---------------Variables-----------*/
$paddingContainer = 6px

/*----------------Mixins-------------*/
//To set 100% of width in responsive
full-width()
  width 100%
  padding-left 0
  padding-right 0
  padding-top $paddingContainer!important
  padding-bottom $paddingContainer!important

//To keep the control of paddings in nested coloums
nested-container()
  padding-top 0
  padding-bottom 0
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

//Basic configuration to generic header
header-configuration(bgc, c, h, lh, p, pos)
  background-color bgc
  color c
  height h
  line-height lh
  padding p
  position pos
  box-sizing border-box

/*---------------Containers-----------*/
.wrapper
  width 100vw
  min-height 100vh
  box-sizing border-box
  background-color rgb(97, 117, 113)

.container-center
  width 80%
  margin 0 auto
  box-sizing border-box

  @media screen and (max-width: 1720px)
    width 85%
  @media screen and (max-width: 1295px)
    width 90%
  @media screen and (max-width: 1010px)
    width 95%
  @media screen and (max-width: 600px)
    width 99.5%

/*----------------Colums--------------*/
.row-content-1
  display flex
  justify-content center
  flex-wrap no-wrap
  padding 0px
  box-sizing border-box

  @media screen and (max-width: 1050px)
    flex-wrap wrap

.row-2
  width 50%
  box-sizing border-box
  padding $paddingContainer
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

  > div[class="row-3"]
    nested-container()

  > div[class="row-4"]
    nested-container()

  > div[class="row-5"]
    nested-container()

  @media screen and (max-width: 1050px)
    full-width()

.row-3
  width (100%/3)
  box-sizing border-box
  padding $paddingContainer
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

  @media screen and (max-width: 675px)
    full-width()

  > div[class="row-2"]
    nested-container()
  > div[class="row-4"]
    nested-container()
  > div[class="row-5"]
    nested-container()

  @media screen and (max-width: 575px)
    width 100%

.row-4
  width (100%/4)
  box-sizing border-box
  padding $paddingContainer
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

  @media screen and (max-width: 795px)
    full-width()

  > div[class="row-2"]
    nested-container()
  > div[class="row-3"]
    nested-container()
  > div[class="row-5"]
    nested-container()

.row-5
  width (100%/5)
  box-sizing border-box
  padding $paddingContainer
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

  @media screen and (max-width: 935px)
    full-width()

  > div[class="row-2"]
    nested-container()
  > div[class="row-3"]
    nested-container()
  > div[class="row-4"]
    nested-container()

/*----------------Header--------------*/
.header
  //background-color, color, height, line-height, padding 0 0, position
  //Set more atributes in this class
  header-configuration(#545454, #e2e2e2, 50px, 50px, 3px 10px, relative)
