/*! Based in normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html
  font-family sans-serif
body
  margin 0
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
  display block
audio, canvas, progress, video
  display inline-block
  vertical-align baseline
[hidden], template
  display none
a
  background-color transparent
a:active, a:hover
  outline 0
abbr[title]
  border-bottom 1px dotted
b, strong
  font-weight bold
dfn
  font-style italic
small
  font-size 80%
img
  border 0
svg:not(:root)
  overflow hidden
figure
  margin 0
pre
  overflow hidden
button, input, optgroup, select, textarea
  color inherit
  font inherint
  margin 0
button
  overflow visible
button, html input[type="button"], input[type="reset"], input[type="submit"]
  appearance button
  cursor pointer
input
  line-height normal
input[type="checkbox"], input[type="radio"]
  box-sizing border-box
  padding 0
